#root {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0px;
}

p {
  margin: 0px;
}

h3 {
  margin: 0px;
  font-size: 96px;
  font-family: "Cafe24ClassicType";
  font-weight: 400;
}

h4 {
  margin: 0px;
  font-size: 40px;
  font-family: "Cafe24ClassicType";
  font-weight: 400;
}

button {
  cursor: pointer;
  background-color: #ff83be;
  color: white;
  box-shadow: 0px 6px 4px 0px #00000040;
  border: none;
  padding: 20px 50px;
  border-radius: 100px;

  font-family: "Cafe24ClassicType";
  font-weight: 400;
  font-size: 40px;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
}
